.container {
    width: 97vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 1%;
}

body {
    background-color: #000000;
}

h1 {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 72pt;
    margin: 0;
    padding-bottom: 10px;
}

.select {
    border-radius: 10px;
    margin-left: 15px;
    height: 35px;
}

input {
    border-radius: 10px;
    height: 33px;
    width: 300px;
}

.add-button {
    height: 37px;
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #bc13fe;
    border-color: white;
    color: whitesmoke;
}

.add-button, input, .select {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    color: white;
}

.inputs {
    display: flex;
    direction: row;
}

.todo-items {
    color: white;
    text-align: left;
    margin: 0px;
    font-weight: 500;
    font-size: 14pt;
}

.todo-items-divs {
    display: inline-flex;
    align-items: center;
    background-color:#1f1f1f ;
    border-radius: 10px;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    padding: 0;
    flex-shrink: 0;
}

.checkboxes {
    padding: 0px;
    width: 30px;
    height: auto;
}

h2, h3 {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.completed-text {
    opacity: 0.5;
    text-decoration: line-through;
    margin-left: 8px;
}

.completed-div {
    opacity: 0.5;
}

.footer-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.remove {
    display: none;
}

@media (max-width: 600px){ 
    .container {
        flex-shrink: 1;
        align-items: center;
        align-content: center;
        margin-left: 0;
    }

    h1{
        text-align: center;
    }

    .todo-items-divs{
        width: 350px;
    }

    .inputs{
        flex-direction: column;
        align-items: center;
    }

    .todo-input, .add-button, .select {
        margin-bottom: 15px;
    }

}